<div style="height: 80px; width: 100%; position: relative; "></div>
<h4>Danh sách các mẫu Resume dành cho sinh viên</h4><br>
<div class="d-flex flex-row thumb">
    <div class="background">
        <div class="label">
            New
        </div>
        <div class="cv">
            <div class="header">
                <div class="image">
                    <img src="../../assets/Image/aodai.png" alt="">
                </div>
                <div class="profile">
                    <p class="name">TRẦN HOÀNG PHƯƠNG</p>
                    <p class="job">Nhân Viên Marketing</p>
                    <div class="content">
                        <p>Một con người theo chủ nghĩa hoàn hảo và đã có kinh nghiệm làm việc 9 tháng trong lĩnh vực
                            Marketing. Điều đó giúp tôi củng cố thêm các kỹ năng liên quan đến quản lý cộng đồng, xây
                            dựng các loại nội dung truyền thông để quảng bá sản phẩm của doanh nghiệp cũng như các
                            chiến dịch quảng cáo nhằm mục đích nâng cao sự nhận diện thương hiệu của khách hàng. Tôi
                            sẽ nỗ lực hết mình để trở thành Manager trong 4 năm tới </p>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="left">
                    <div class="title__component">
                        <p class="title">Thông tin liên hệ</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information">
                        <div class="information">
                            <div class="icon birthday"></div>
                            <p>21/02/1999</p>
                        </div>
                        <div class="information">
                            <div class="icon mail"></div>
                            <p>thphuong@gmail.com</p>
                        </div>
                        <div class="information">
                            <div class="icon phone"></div>
                            <p>0917284712</p>
                        </div>
                        <div class="information">
                            <div class="icon facebook"></div>
                            <p>https://fb.com/phuong</p>
                        </div>
                        <div class="information">
                            <div class="icon location"></div>
                            <p>Đường số 2, TPHCM</p>
                        </div>
                    </div>
                    <div class="title__component">
                        <p class="title">Các kỹ năng</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information" style="height: 100px; width:60px ;">
                        <strong>💥 Vận dụng phần mềm</strong>
                        <p class="p__content" style="top:-18px; position:relative;margin-left: 8px;">- Sử dụng thành thạo các công cụ Microsoft Office như Word, Excel, Powerpoint, Visio</p>
                        <p class="p__content" style="top:-18px; position:relative;margin-left: 8px;">- Có khả năng sử dụng các công cụ thiết kế như Adobe InDesign, Adobe Photoshop</p>
                        <p class="p__content" style="top:-18px; position:relative;margin-left: 8px;">- Có thể sử dụng các công cụ chỉnh sửa video như Adobe Premiere, Adobe After Effect, Canva</p>
                        <strong style="top:-32px">💥 Kỹ năng mềm</strong>
                        <p class="p__content" style="top:-36px; position:relative;margin-left: 8px;">- Kỹ năng thuyết trình</p>
                        <p class="p__content" style="top:-36px; position:relative;margin-left: 8px;">- Kỹ năng phân tích</p>
                        <p class="p__content" style="top:-36px; position:relative;margin-left: 8px;">- Kỹ năng đàm phán</p>
                        <p class="p__content" style="top:-36px; position:relative;margin-left: 8px;">- Kỹ năng quản lý thời gian</p>
                    </div>
                    <div class="title__component" style="top:3px">
                        <p class="title">Thành tích</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information" style="top:7px; width: 65px;">
                        <p class="p__content">- Giải ba cuộc thi Marketing Generator năm 2021</p>
                        <p class="p__content">- Đạt học bổng 5 học kỳ liên tiếp tại Trường Đại Học Văn Lang</p>
                        <p class="p__content">- IELTS: 6.5</p>
                    </div>
                    <div class="title__component" style="top:-5px">
                        <p class="title">Sở thích</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information" style="top:-1px">
                        <p class="p__content">- Đọc sách mỗi ngày</p>
                        <p class="p__content">- Chơi thể thao</p>
                        <p class="p__content">- Viết lách và vẽ thiết kế</p>
                    </div>
                </div>
                <div class="right">
                    <div class="title__component" style="top:5px; left: 0px;">
                        <p class="title">Trình độ học vấn</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information">
                        <strong style="left: -20px;">💥 Quản trị kinh doanh</strong><br>
                        <strong style="left: -20px; top:-30px">Đại Học Văn Lang | 08/2016 - 06/2020</strong>
                        <p class="p__content" style="left: -20px; top:-30px; position: relative;">Tốt nghiệp loại khá, GPA: 2.97/4.0</p>
                    </div>
                    <div class="title__component" style="top:-3px; left: 0px; width: 100px;">
                        <p class="title">Kinh nghiệm làm việc</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information">
                        <strong style="left: -20px; top: -22px;">💥 Digital Marketing Intern</strong><br>
                        <strong style="left: -20px; top:-39px">Shopify | 03/2020 - 06/2020</strong>
                        <p class="p__content" style="left: -20px; top:-40px; position: relative; width: 115px;">Chịu trách nhiệm quản lý traffic của các website thông qua việc quan sát các thông số thống kê từ ứng dụng Google Analytics</p>
                        <p class="p__content" style="left: -20px; top:-40px; position: relative; width: 115px;">- Thiết kế các posters, các videos để quảng bá sản phẩm đến người tiêu dùng trên các nền tảng như facebook, tiktok, instagram, các forum trên mạng, ...</p>
                        <p class="p__content" style="left: -20px; top:-40px; position: relative; width: 115px;">- Thiết lập marketing proposal để nâng cao chiến lược kinh doanh của công ty cũng như nâng cao mức độ nhận diện thương hiệu của các khách hàng tiềm năng đối với các sản phẩm đang kinh doanh của công ty.</p>
                        <strong style="left: -20px; top: -51px;">💥 Designer</strong><br>
                        <strong style="left: -20px; top:-69px">Freelance | 03/2020 - 06/2020</strong>
                        <p class="p__content"  style="left: -20px; top:-70px; position: relative; width: 115px;">- Thiết kế posters, banners, book covers cho khách hàng trong nước và quốc tế.</p>
                        <p class="p__content"  style="left: -20px; top:-70px; position: relative; width: 115px;">- Sử dụng các công cụ tạo ra prototypes như Adobe XD, Framer, Figma để thiết kế prototypes phục vụ cho việc trực quan hóa thị giác sản phẩm cho công ty Tiên An.</p>
                    </div>
                    <div class="title__component" style="top:75px; left: 0px; width: 100px;">
                        <p class="title">Hoạt động</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information">
                        <p class="p__content" style="left: -20px; top:70px; position: relative; width: 115px;">- Chiến dịch tình nguyện xuân mùa tết.</p>
                        <p class="p__content" style="left: -20px; top:70px; position: relative; width: 115px;">- Sự kiện Tô Màu Giấc Mơ.</p>
                        <p class="p__content" style="left: -20px; top:70px; position: relative; width: 115px;">- Sự kiện chạy việt dã.</p>
                        <p class="p__content" style="left: -20px; top:70px; position: relative; width: 115px;">- Hiến máu tình nguyện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="margin:0 80px;background: rgba(192, 179, 179, 0.6);">
        <div class="label">
            New
        </div>
        <div class="cv" style="border: none;">
            <div class="body" style="height: 100%;">
                <div class="left" style="width: 57%;">
                    <strong class="strong__cv2" style="top:-3px;left:10px;">Mục tiêu nghề nghiệp</strong>
                    <p class="p__content" style="left: 10px; width: 89%; top:-4px; position: relative;">Với 1 năm kinh nghiệm trong việc tham gia vào các dự án
                        toàn cầu về thiết kế các posters, portraits và tranh phong
                        cảnh. Tôi hoàn toàn tự tin mình phù hợp với công ty và có
                        thể đáp ứng đầy đủ các yêu cầu cũng như công việc được
                        giao. Tôi là một con người đầy trách nhiệm và sẽ cống hiến
                        hết mình.</p>
                    <strong class="strong__cv2" style="top:-14px;left:10px;">Học vấn</strong><br>
                    <strong style="top:-31px;left:10px;">• Thiết kế đồ họa</strong>
                    <p class="p__content" style="left: 10px; width: 89%; top:-33px; position: relative;">Đại Học Kiến Trúc | 09/2017 - 11/2021</p>
                    <p class="p__content" style="left: 10px; width: 89%; top:-33px; position: relative;">Tốt nghiệp loại giỏi, GPA: 8.9/10</p>
                    <strong class="strong__cv2" style="top:-45px;left:10px;">Kinh nghiệm làm việc</strong><br>
                    <strong style="top:-62px;left:10px;">• Freelance | 06/2020 - Present</strong><br>
                    <strong style="top:-80px;left:10px;">Graphic, Video Designer</strong>
                    <p class="p__content" style="left: 10px; width: 85%; top:-81px; position: relative;">- Nhận thiết kế các posters online trên yêu cầu hoặc brief có sẵn với deadlines phù hợp trong và ngoài nước.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-81px; position: relative;">- Nhận edit các videos hình ảnh, chân dung, phim ảnh hoặc MV ca nhạc.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-81px; position: relative;">- Nâng cao thêm khả năng chuyên môn bằng cách tự làm các projects cá nhân.</p>
                    <strong style="top:-93px;left:10px;">• Lazada Vietnam | 01/2020 - 3/2020</strong><br>
                    <strong style="top:-111px;left:10px;">Graphic Designer Intern</strong>
                    <p class="p__content" style="left: 10px; width: 85%; top:-113px; position: relative;">- Được đào tạo chuyên sâu về các phương pháp cũng như kỹ thuật thiết kế đối tượng chân dung với tranh phong cảnh.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-113px; position: relative;">- Được đào tạo bài bản về quy trình sản xuất và dựng video.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-113px; position: relative;">- Thiết kế các posters quảng cáo cho Lazada tạo điều kiện cho việc chạy quảng cáo online qua các nền tảng website,youtube, facebook, tiktok.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-113px; position: relative;">- Tham gia vào dự án tạo hình nhân vật mùa hè cho sự kiện thường niên.</p>
                    <strong class="strong__cv2" style="top:-124px;left:10px;">Hoạt động</strong>
                    <p class="p__content" style="left: 10px; width: 85%; top:-125px; position: relative;">- Tham gia chiến dịch mùa hè xanh do Trường Đại Học Kiến Trúc tổ chức để thăm hỏi các người có công với cách mạng, những cô nhi viện và trồng cây trong khuôn viên trường.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-125px; position: relative;">- Hiến máu tình nguyện. </p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-125px; position: relative;">- Tham gia câu lạc bộ sáng tạo của Trường Đại Học Kiến Trúc.</p>
                    <strong class="strong__cv2" style="top:-135px;left:10px;">Chứng chỉ</strong>
                    <p class="p__content" style="left: 10px; width: 85%; top:-136px; position: relative;">- Chứng chỉ hoàn thành khóa thực tập chuyên sâu về Graphic Design tại Lazada.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-136px; position: relative;">- Sinh viên Năm tốt trong hai học kỳ liên tiếp.</p>
                    <p class="p__content" style="left: 10px; width: 85%; top:-136px; position: relative;">- TOEIC: 550</p>
                    
                    
                </div>
                <div class="right" style="width: 43.5%;background: rgba(117, 166, 37, 0.3); ">
                    <div style="background:  rgba(0, 0, 0, 0.7); width:14px; height: 2px; position: relative; top:0px; left:85px;"></div>
                    <div style="width: 65px; height: 65px; border-radius: 50%; margin: 8px auto;">
                        <img src="../../assets/Image/cv2.png" alt="">
                    </div>
                    <strong class="strong__cv2" style="left: 19px; top:-7px; font-size: 8px; line-height: 11px; font-weight: 700;">CAO LINH CHÂU</strong>
                    <p class="p__content" style="font-size: 5px; line-height: 7px; left:30px; top:-10px; position: relative;">Graphic Designer</p>
                    <strong class="strong__cv2" style="left: 12px; top:-16px;">Thông tin</strong>
                    <div class="simple__information" style="top:-20px;left:7px;">
                        <div class="information">
                            <div class="icon mail2"></div>
                            <p style="margin-top:1px">linhchau17kh@gmail.com</p>
                        </div>
                        <div class="information">
                            <div class="icon phone2"></div>
                            <p style="margin-top:1px">0928174627</p>
                        </div>
                        <div class="information">
                            <div class="icon birthday2"></div>
                            <p style="margin-top:1px">21/02/1999</p>
                        </div>
                        <div class="information">
                            <div class="icon location2"></div>
                            <p style="margin-top:1px">17 Phan Văn Trị, Gò Vấp, TPHCM</p>
                        </div>
                        <div class="information">
                            <div class="icon facebook2"></div>
                            <p style="margin-top:1px">https://fb.com/linhchau17kh</p>
                        </div>
                    </div>
                    <strong class="strong__cv2" style="left: 12px; top:-36px;">Kỹ năng</strong><br>
                    <strong style="top:-53px;left:10px;">• Kỹ năng cứng</strong>
                    <p class="p__content" style="left: 10px; width: 75%; top:-55px; position: relative;">- Sử dụng thuần thục bộ ứng dụng Microsoft Office: Word, Powerpoint, Excel, Visio, Onedrive </p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-55px; position: relative;">- Sử dụng thành thạo các công cụ thiết kế, chỉnh sửa ảnh và dựng videos: Adobe Premiere, After Effects, Lightroom, InDesign, Illustrator, Photoshop, AutoCard</p>
                    <p class="p__content" style="left: 10px; width: 74.04%; top:-55px; position: relative;">- Sử dụng thành thạo các công cụ thiết kế prototypes: Figma, Adobe XD, Framer</p>
                    <strong style="top:-68px;left:10px;">• Kỹ năng cứng</strong>
                    <p class="p__content" style="left: 10px; width: 75%; top:-70px; position: relative;">- Kỹ năng giao tiếp</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-70px; position: relative;">- Kỹ năng quản lý thời gian</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-70px; position: relative;">- Kỹ năng làm việc đa nhiệm</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-70px; position: relative;">- Kỹ năng lãnh đạo</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-70px; position: relative;">- Kỹ năng phân tích thiết kế</p>
                    <strong class="strong__cv2" style="left: 12px; top:-80px;">Sở thích</strong>
                    <p class="p__content" style="left: 10px; width: 75%; top:-82px; position: relative;">- Vẽ tranh chân dung</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-82px; position: relative;">- Sáng tác nhạc</p>
                    <p class="p__content" style="left: 10px; width: 75%; top:-82px; position: relative;">- Viết thư pháp</p>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background: rgba(192, 179, 179, 0.6);">
        <div style="height: 25px; width: 100%; position: relative;">        </div>
        <div class="cv" style="border: 0;">
            <div style="height: 94px; width: 100%; position: relative; border:7px solid #ADAA5A; border-bottom: 0;">
                <img src="../../assets/Image/imgcv3.png" alt="" style="position: absolute; left:8px; top:11px;">
                <p style="position: absolute; width: 62px; height: 11px; left: 90px; top: 25px;
                          font-style: normal; font-weight: bold; font-size: 8px; line-height: 11px;">
                          TRỊNH NGUYỄN
                </p>
                <p style="position: absolute; width: 91px; height: 19px; left: 90px; top: 35px;   
                          font-style: normal; font-weight: bold; font-size: 14px; line-height: 19px;  color: #ADAA5A;">
                    THÙY TRANG
                </p>
                <p style="position: absolute; width: 67px; height: 10px; left: 90px; top: 56px; font-style: normal;
                          font-weight: bold; font-size: 7px; line-height: 10px; color: rgba(0, 0, 0, 0.6);">
                    BUSINESS ANALYST
                </p>
            </div>
            <div class="body">
                <div class="left" style="width: 87px; height: 203px; background: rgba(173, 170, 90, 0.35); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); margin: 0 0 21px 7px;">
                    <strong class="strong__cv2" style="top: 5px; left: 4px;">Thông tin</strong>
                    <div class="simple__information" style="top:0px;left:-1px;">
                        <div class="information" style="width: 100px; height: 5px;">
                            <div class="icon mail2"></div>
                            <p class="p__content" style="margin-top:1px">thuytrangabc@gmail.com</p>
                        </div>
                        <div class="information" style="width: 100px; height: 5px;">
                            <div class="icon phone2"></div>
                            <p class="p__content" style="margin-top:1px">0935002884</p>
                        </div>
                        <div class="information" style="width: 100px; height: 5px;">
                            <div class="icon birthday2"></div>
                            <p class="p__content" style="margin-top:1px">08/08/2001</p>
                        </div>
                        <div class="information" style="width: 100px; height: 5px;">
                            <div class="icon location2"></div>
                            <p class="p__content" style="margin-top:1px">20 Ung Văn Khiêm, Bình Thạnh, TPHCM</p>
                        </div>
                        <div class="information" style="width: 100px; height: 5px;">
                            <div class="icon facebook2"></div>
                            <p class="p__content" style="margin-top:1px">https://fb.com/thuychang21sg</p>
                        </div>
                    </div>
                    <strong class="strong__cv2" style="top: -17px; left: 4px;">Kỹ năng</strong><br>
                    <strong style="top:-35px;left:4px;">• Kỹ năng cứng</strong>
                    <p class="p__content" style="left: 4px; width: 89%; top:-38px; position: relative;">- Sử dụng thuần thục bộ ứng dụng Microsoft Office: Word, Powerpoint, Excel, Visio, Onedrive</p>
                    <p class="p__content" style="left: 4px; width: 87%; top:-38px; position: relative;">- Sử dụng thành thạo các công cụ thiết kế, chỉnh sửa ảnh và dựng videos: Adobe Premiere, After Effects, Lightroom, InDesign, Illustrator, Photoshop, AutoCard</p>
                    <p class="p__content" style="left: 4px; width: 83%; top:-38px; position: relative;">- Sử dụng thành thạo các công cụ thiết kế prototypes: Figma, Adobe XD, Framer</p>
                    <strong style="top:-52px;left:4px;">• Kỹ năng mềm</strong>
                    <p class="p__content" style="left: 4px; width: 75%; top:-55px; position: relative;">- Kỹ năng giao tiếp</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-55px; position: relative;">- Kỹ năng quản lý thời gian</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-55px; position: relative;">- Kỹ năng làm việc đa nhiệm</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-55px; position: relative;">- Kỹ năng lãnh đạo</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-55px; position: relative;">- Kỹ năng phân tích thiết kế</p>
                    <strong class="strong__cv2" style="top: -66px; left: 4px;">Sở thích</strong>
                    <p class="p__content" style="left: 4px; width: 75%; top:-69px; position: relative;">- Ca hát</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-69px; position: relative;">- Công nghệ mới</p>
                    <p class="p__content" style="left: 4px; width: 75%; top:-69px; position: relative;">- Làm thơ</p>
                </div>
                <div class="right">
                    <div class="title__component" style="top:10px; left: 7px;">
                        <p class="title">Trình độ học vấn</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information" style="height: 100px; width:100px; left: 5px; top:14px;">
                        <strong>💥 Tài Chính Ngân Hàng</strong><br>
                        <strong style="top:-30px;">Đại Học Văn Lang | 08/2016 - 06/2020</strong>
                        <p class="p__content" style="top:-30px; position:relative; left: 3px;">Tốt nghiệp loại khá, GPA: 3.0/4.0</p>
                    </div>
                    <div class="title__component" style="top:-60px; left: 7px; width: 100px;">
                        <p class="title">Kinh nghiệm làm việc</p>
                        <div class="title__footer"></div>
                    </div>
                    <div class="simple__information" style="height: 100px; width:100px; left: 5px; top:-54px;">
                        <strong>💥 Digital Marketing Intern</strong><br>
                        <strong style="top:-31px;">Shopify | 03/2020 - 06/2020</strong>
                        <p class="p__content" style="top:-32px; position:relative; left: 3px; width:113px;">- Chịu trách nhiệm quản lý traffic của các website thông qua việc quan sát các thông số thống kê từ ứng dụng Google Analytics.</p>
                        <p class="p__content" style="top:-32px; position:relative; left: 3px; width: 113px;">- Thiết kế các posters, các videos để quảng bá sản phẩm đến người tiêu dùng trên các nền tảng như facebook, tiktok, instagram, các forum trên mạng, ...</p>
                        <p class="p__content" style="top:-32px; position:relative; left: 3px; width: 113px;">- Thiết lập marketing proposal để nâng cao chiến lược kinh doanh của công ty cũng như nâng cao mức độ nhận diện thương hiệu của các khách hàng tiềm năng đối với các sản phẩm đang kinh doanh của công ty.</p>
                        <strong style="top:-45px">💥 Designer</strong><br>
                        <strong style="top:-62px;">Freelance | 03/2020 - 06/2020</strong>
                        <p class="p__content" style="top:-64px; position:relative; left: 3px; width: 113px;">- Thiết kế posters, banners, book covers cho khách hàng trong nước và quốc tế.</p>
                        <p class="p__content" style="top:-64px; position:relative; left: 3px; width: 113px;">- Sử dụng các công cụ tạo ra prototypes như Adobe XD, Framer, Figma để thiết kế prototypes phục vụ cho việc trực quan hóa thị giác sản phẩm cho công ty Tiên An. </p>
                    </div>
                    <div class="title__component" style="top:-47px; left: 7px; width: 100px;">
                        <p class="title">Hoạt động</p>
                        <div class="title__footer"></div>
                    </div>                    
                    <div class="simple__information" style="height: 100px; width:100px; left: 5px; top:14px;">
                        <p class="p__content" style="top:-56px; position:relative; left: 3px;"> - Chiến dịch tình nguyện xuân mùa tết. </p>
                        <p class="p__content" style="top:-56px; position:relative; left: 3px;">- Sự kiện Tô Màu Giấc Mơ.</p>
                        <p class="p__content" style="top:-56px; position:relative; left: 3px;">- Sự kiện chạy việt dã.</p>
                        <p class="p__content" style="top:-56px; position:relative; left: 3px;">- Hiến máu tình nguyện.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>