<div style="height: 80px; width: 100%; position: relative; "></div>
<div class="d-flex flex-row parent">
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <a [routerLink]="['/resume-template']" style="margin: 0 40px 0 auto;"><button>❮❮ Quay lại</button></a>
        <img src="../../assets/Image/earth.png" alt="" style="position: absolute; margin:120px auto;">
    </div>
    <div id="cv_lcp" class="cv">
        <div class="header">
            <div class="image">
                <img src="../../assets/Image/Rectangle 50.png" alt="" style="object-fit: cover; object-position: center;width: 100%;height: 100%; transition: .7s;">
            </div>
            <div class="profile">
                <p class="name">LƯU CHÍNH PHƯƠNG</p>
                <p class="job">Marketing Executive</p>
                <div class="content">
                    <p>Kỷ luật, trách nhiệm cao giúp cấu tạo nên một người đội
                        trưởng mẫu mực. Với kinh nghiệm 6 năm trong lĩnh vực
                        ngành hàng, tôi tự tin mình có thể đảm nhận vai trò
                        Marketing Manager cũng như có thể hoàn thành tốt bổn
                        phận được giao, song song đó có thể gặt hái nhiều thành
                        tích trong quá trình công tác.</p>
                </div>
            </div> 
        </div>
        <div class="body">
            <div class="left">
                <div class="title__component" style="top:30px">
                    <p class="title">Thông tin liên hệ</p>
                    <div class="title__footer"></div>
                </div>
                <div class="simple__information" style="top: 40px;">
                    <div class="information">
                        <div class="icon birthday"></div>
                        <p>12/09/1996</p>
                    </div>
                    <div class="information">
                        <div class="icon mail"></div>
                        <p>phuongch96@gmail.com</p>
                    </div>
                    <div class="information">
                        <div class="icon phone"></div>
                        <p>0913358161</p>
                    </div>
                    <div class="information">
                        <div class="icon facebook"></div>
                        <p>Facebook</p>
                    </div>
                    <div class="information">
                        <div class="icon location"></div>
                        <p>Bình Thạnh, TPHCM</p>
                    </div>
                </div>
                <div class="title__component" style="top: -35px;">
                    <p class="title">Các kỹ năng</p>
                    <div class="title__footer"></div>
                </div>
                <div class="simple__information" >
                    <strong style="top: -14px; position: relative;">💥  Kỹ năng mềm</strong>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Kỹ năng lãnh đạo</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Kỹ năng quản lý đội nhóm</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Kỹ năng thuyết trình</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Kỹ năng phân tích vấn đề</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left:24px;">. Kỹ năng làm việc đa nhiệm</p>
                    <strong style="top: -14px; position: relative;">💥  Kỹ năng sử dụng phần mềm</strong>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Microsoft Office</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left:24px;">. Google Analytics</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Keywords Finder</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Adobe Photoshop</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left: 24px;">. Adobe After Effect</p>
                    <p class="p__content" style="top:-14px; position:relative;margin-left:24px;">. Adobe InDesign</p>
                                
                </div>
                <div class="title__component" style="top: 22px;">
                    <p class="title">Thành tích</p>
                    <div class="title__footer"></div>
                </div><div class="simple__information" >
                    <p class="p__content" style="top:40px; position:relative;margin-left: 16px;">. Giải nhất cuộc thi Marketing Generator 2016</p>
                    <p class="p__content" style="top:40px; position:relative;margin-left:16px;">. Sinh viên tiêu biểu trong năm học kỳ liên tiếp</p>
                                
                </div>
            </div>
            <div class="right">
                <div class="title__component" style="top: 30px; left: 10px;">
                    <p class="title">Trình độ học vấn</p>
                    <div class="title__footer"></div>
                </div>
                <div class="simple__information" style="width:300px">
                    <strong style="top: 44px; position: relative;">Business Administration</strong><br>
                    <strong style="top: 40px; position: relative; ">International University | 07/2014 - 09/2018</strong>
                    <p class="p__content" style="top:40px; position:relative;">GPA: 3.72/4.00</p>
                              
                </div>
                <div class="title__component" style="top: -104px; left: 10px;">
                    <p class="title">Kinh nghiệm làm việc</p>
                    <div class="title__footer"></div>
                </div>
                <div class="simple__information" style="width:255px">
                    <strong style="top: -89px; position: relative;">💥 Digital Marketing Intern</strong><br>
                    <strong style="top: -93px; position: relative; ">Prudential | 06/2016 - 03/2017</strong>
                    <p class="p__content" style="top:-94px; position:relative;">- Chịu trách nhiệm quản lý traffic của các website thông qua việc quan sát các thông số thống kê từ ứng dụng Google Analytics.</p>
                    <p class="p__content" style="top:-94px; position:relative;">- Thiết kế các posters, các videos để quảng bá sản phẩm đến người tiêu dùng trên các nền tảng như facebook, tiktok, instagram, các forum trên mạng, ...</p>
                    <p class="p__content" style="top:-94px; position:relative;">- Thiết lập marketing proposal để nâng cao chiến lược kinh doanh của công ty cũng như nâng cao mức độ nhận diện thương hiệu của các khách hàng tiềm năng đối với các sản phẩm đang kinh doanh của công ty.</p>
                </div>
                <div class="simple__information" style="width:255px">
                    <strong style="top: -55px; position: relative;">💥 Sale Assistant</strong><br>
                    <strong style="top: -59px; position: relative; ">JAC Group | 08/2017 -10/2017</strong>
                    <p class="p__content" style="top:-59px; position:relative;">- Thúc đẩy KPI của bộ phận Sales tăng lên 30% sau 2 tháng.</p>
                    <p class="p__content" style="top:-59px; position:relative;">- Tư vấn cho khách hàng tiềm năng về chế độ hậu mãi và chất lượng của sản phẩm được sử dụng qua thời gian sẽ được điều chỉnh thông qua các Metrics.</p>
                    <p class="p__content" style="top:-59px; position:relative;">- Bố trí nhân lực để sắp xếp cho sự kiện thường niên của bộ phận ở nhà hàng tiệc cưới, liên lạc với bộ phận chăm sóc khách hàng, bộ phận Framer, Figma để thiết kế prototypes phục vụ cho việc trực quan hóa thị giác sản phẩm cho công ty Tiên An.</p>
                </div>
                
                
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <button (click)="name()" style="margin: 0 auto 0 40px;">Export</button>
        <div style="position: absolute; width: 100%; height: 300px; margin: 230px 30px; display: flex;flex-direction: row;">
            <p style="width: 257px; height: 77px; font-style: normal; font-weight: bold;   font-size: 13px;  line-height: 18px;     text-align: right; color: #000000;">
                Các Resume của sinh viên đã được cho phép công khai lên trang Tham Khảo Resume cho các sinh viên khác <br> có thể tiếp cận!
            </p>
            <img src="../../assets/Image/imagestudents.png" alt="" style="width: 101px; height: 101px;" >
        </div>
    </div>
</div>