@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex flex-row" style="height: 80vh;">
    <div style="width: 55vw; height: 130vh; background-color: rgb(196,196,196); position: relative;">
        <img class="_image_" src="../../assets/Image/CV1.png" alt="Ảnh CV"
             style="transform: rotate(-10deg); top:12%; left:-2%; ">
        <img class="_image_ _shadow_" src="../../assets/Image/CV2.jpg" alt="Ảnh CV"
             style="transform: rotate(5deg); top:7%; left:41%; max-height: 32%; ">
        <img class="_image_ " src="../../assets/Image/CV3.png" alt="Ảnh CV"
             style="transform: rotate(-10deg); top:27%; left:60%;">
        <img class="_image_" src="../../assets/Image/CV4.png" alt="Ảnh CV"
             style="transform: rotate(5deg); top:50%; left:0%; max-height: 60%; max-width: 65%;">
        <img class="_image_" src="../../assets/Image/CV5.png" alt="Ảnh CV"
             style="transform: rotate(5deg); top:62%; left:55%; ">
    </div>
    <div style="width: 45vw; height: 100vh; position: relative;">
        <div style=" width: 35vw; height: 75vh; margin-top: 5vh; position: relative;" class="_center_">
            <img src="../../assets/Image/VLU-detached-backgr.png"
                 alt="Trường Đại Học Văn Lang"
                 style="max-width:20%; max-height:20%; position: absolute; top: 3%; left: 5%;">
            <h5 style="position: absolute; top:10%; left: 25%; overflow: visible;">TRƯỜNG ĐẠI HỌC VĂN LANG</h5>
            <form id="account" method="post" style="background-color: white; position: absolute; top:20%; left:10%; display: flex; flex-direction: column;">
                <div asp-validation-summary="All" class="text-danger"></div>
                <br />
                <label asp-for="Input.Email" style="margin: 6px;" for="">Email <strong style="color: red;">*</strong></label>
                <input asp-for="Input.Email" type="text" class="_input_text_ _shadow_ _boder-radius_">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
                <label asp-for="Input.Password" style="margin: 6px;" for="">Mật khẩu <strong style="color: red;">*</strong></label>
                <input asp-for="Input.Password" type="password" class="_input_text_ _shadow_ _boder-radius_">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <br />
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <button class="_boder-radius_" style="margin-top: 30px; height: 45px; background-color: rgb(51,102,201); color:white" type="submit">Đăng Nhập</button>
            </form>
            <a href="" style="color: #0085FF; position: absolute; right:6vw; top:60vh;"><strong> Quên mật khẩu?</strong></a>


        </div>
        <div class="_center_" style="margin-top: 10vh;">
            <p>Bạn chưa có tài khoản? </p><a href="/Identity/Accounts/Register" style="color: #0085FF; padding-left: 5px;"><strong> Đăng ký ngay</strong></a>
        </div>
    </div>
</div>
<style>
    * {
        padding: 0px;
        margin: 0px;
    }

    ._image_ {
        max-width: 45%;
        max-height: 40%;
        position: absolute;
    }

    ._shadow_ {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    ._boder-radius_{
        border-radius: 10px;
    }
    ._center_ {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    ._input_text_ {
        margin: 6px;
        background: rgb(245,247,252);
        height: 7.5vh;
        width: 25vw;
        padding-left: 15px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
