@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div style="background-color: white; position: relative; height: 50px; width: 100%;"></div>
<div class="d-flex flex-row" style="height: 130vh;">
    <div style="width: 55vw; height: 130vh; background-color: white; position: relative;">
        <h5 style="position: absolute; top:10%; left: 11%; overflow: visible;"><strong> ĐĂNG KÝ</strong></h5>
        <form id="account" method="post" style="background-color: white; position: absolute; top:12%; left:12%; display: flex; flex-direction: column;">
            <label asp-for="Input.UserName" style="margin: 6px;" for="">Họ và tên <strong style="color: red;">*</strong></label>
            <input asp-for="Input.UserName" type="text" class="_input_text_ _shadow_ _boder-radius_">
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <br />
            <label style="margin: 6px;" asp-for="Input.Email">Email<strong style="color: red;">*</strong></label>
            <input asp-for="Input.Email" type="text" class="_input_text_ _shadow_ _boder-radius_" required>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <br />
            <label asp-for="Input.Password" style="margin: 6px;" for="">Mật khẩu <strong style="color: red;">*</strong></label>
            <input asp-for="Input.Password" type="password" class="_input_text_ _shadow_ _boder-radius_">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <br />
            <label asp-for="Input.ConfirmPassword" style="margin: 6px;" for="">Nhập lại mật khẩu <strong style="color: red;">*</strong></label>
            <input asp-for="Input.ConfirmPassword" type="password" class="_input_text_ _shadow_ _boder-radius_">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <br />
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <select asp-for="Input.Role" class="form-control">
                    @if (Model.Roles != null)
                    {
                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                    else
                    {
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    }
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button class="_boder-radius_" style="margin-top: 20px; height: 45px; background-color: rgb(51,102,201); color:white; width: 17vw; margin-left: 9vw;" type="submit">Tạo tài khoản</button>
        </form>
    </div>
    <div style="width: 45vw; height: 130vh; position: relative; background-color: rgb(196,196,196);">
        <div style=" width: 35vw; height: 75vh; margin-top: 10vh; position: relative;" class="_center_">
            <img src="../../assets/Image/VLU-detached-backgr.png"
                 alt="Trường Đại Học Văn Lang"
                 style="max-width:30%; max-height:30%; position: absolute; top: 35%; left: 0%;">
            <h5 style="position: absolute; top:47%; left: 27%; overflow: visible;"><strong> TRƯỜNG ĐẠI HỌC VĂN LANG</strong></h5>
            <p style="opacity: 0.5; width: 30vw; top:65%; position: absolute;">Tài khoản và mật khẩu của bạn nên được ghi nhớ hoặc lưu lại ở đâu đó sau khi đăng ký thành công!</p>

        </div>
        <div class="_center_" style="margin-top: 30vh;">
            <p>Bạn chưa có tài khoản? </p><a href="" style="color: #0085FF; padding-left: 5px;"><strong> Đăng ký ngay</strong></a>
        </div>
    </div>
</div>
<style>
    * {
        padding: 0px;
        margin: 0px;
    }

    ._image_ {
        max-width: 45%;
        max-height: 40%;
        position: absolute;
    }

    ._shadow_ {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    ._center_ {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    ._input_text_ {
        margin: 6px;
        background: rgb(245,247,252);
        height: 7.5vh;
        width: 25vw;
        padding-left: 15px;
    }

    ._boder-radius_ {
        border-radius: 10px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
