<p>{{ message | async }}</p>
<div style="background-color: white; position: relative; height: 50px; width: 100%;"></div>
<div class="d-flex flex-row" style="height: 130vh;">
    <div style="width: 55vw; height: 130vh; background-color: rgb(196,196,196); position: relative;">
        <img class="_image_" src="../../assets/Image/CV1.png" alt="Ảnh CV"
            style="transform: rotate(-10deg); top:12%; left:-2%; ">
        <img class="_image_ _shadow_" src="../../assets/Image/CV2.jpg" alt="Ảnh CV"
            style="transform: rotate(5deg); top:7%; left:41%; max-height: 32%; ">
        <img class="_image_ " src="../../assets/Image/CV3.png" alt="Ảnh CV"
            style="transform: rotate(-10deg); top:27%; left:60%;">
        <img class="_image_" src="../../assets/Image/CV4.png" alt="Ảnh CV"
            style="transform: rotate(5deg); top:50%; left:0%; max-height: 60%; max-width: 65%;">
        <img class="_image_" src="../../assets/Image/CV5.png" alt="Ảnh CV"
            style="transform: rotate(5deg); top:62%; left:55%; ">
    </div>
    <div style="width: 45vw; height: 130vh; position: relative;">
        <div style=" width: 35vw; height: 75vh; margin-top: 10vh; position: relative;" class="_center_">
            <img src="../../assets/Image/VLU-detached-backgr.png"
                 alt="Trường Đại Học Văn Lang"
                 style="max-width:20%; max-height:20%; position: absolute; top: 5%; left: 5%;">
            <h5 style="position: absolute; top:13%; left: 25%; overflow: visible;">TRƯỜNG ĐẠI HỌC VĂN LANG</h5>
            <form action="" style="background-color: white; position: absolute; top:26%; left:10%; display: flex; flex-direction: column;">
                <label style="margin: 6px;" for="">Tên tài khoản <strong style="color: red;">*</strong></label>
                <input type="text" class="_input_text_ _shadow_" name="" id="" required>
                <label style="margin: 6px;" for="">Mật khẩu <strong style="color: red;">*</strong></label>
                <input type="password" class="_input_text_ _shadow_" name="" id="" required>
                <button style="margin-top: 30px; height: 45px; background-color: rgb(51,102,201); color:white" type="submit">Đăng Nhập</button>
            </form>
            <a href="" style="color: #0085FF; position: absolute; right:6vw; top:63vh;"><strong> Quên mật khẩu?</strong></a>
            

        </div>
        <div class="_center_" style="margin-top: 30vh;">
            <p>Bạn chưa có tài khoản? </p><a href="" style="color: #0085FF; padding-left: 5px;"><strong> Đăng ký ngay</strong></a>
        </div>
    </div>
</div>