
<p>{{ message | async }}</p>
<div style="background-color: white; position: relative; height: 50px; width: 100%;"></div>
<div class="d-flex flex-row" style="height: 130vh;">
    <div style="width: 55vw; height: 130vh; background-color: white; position: relative;">
        <h5 style="position: absolute; top:10%; left: 11%; overflow: visible;"><strong> ĐĂNG KÝ</strong></h5>
        <form action="" style="background-color: white; position: absolute; top:12%; left:12%; display: flex; flex-direction: column;">
            <label style="margin: 6px;" for="">Họ và tên <strong style="color: red;">*</strong></label>
            <input type="text" class="_input_text_ _shadow_" name="" id="" required>
            <label style="margin: 6px;" for="">Tên tài khoản <strong style="color: red;">*</strong></label>
            <input type="text" class="_input_text_ _shadow_" name="" id="" required>
            <label style="margin: 6px;" for="">Mật khẩu <strong style="color: red;">*</strong></label>
            <input type="password" class="_input_text_ _shadow_" name="" id="" required>
            <label style="margin: 6px;" for="">Nhập lại mật khẩu <strong style="color: red;">*</strong></label>
            <input type="password" class="_input_text_ _shadow_" name="" id="" required>
            <br>
            <p style="opacity: 0.5; width: 25vw;">Độ dài của mật khẩu nên từ 6 ký tự trở lên, chứa ít nhất một chữ hoa và một số.</p>
            <button style="margin-top: 20px; height: 45px; background-color: rgb(51,102,201); color:white; width: 17vw; margin-left: 9vw;" type="submit">Tạo tài khoản</button>
        </form>
    </div>
    <div style="width: 45vw; height: 130vh; position: relative; background-color: rgb(196,196,196);">
        <div style=" width: 35vw; height: 75vh; margin-top: 10vh; position: relative;" class="_center_">
            <img src="../../assets/Image/VLU-detached-backgr.png"
                 alt="Trường Đại Học Văn Lang"
                 style="max-width:30%; max-height:30%; position: absolute; top: 35%; left: 0%;">
            <h5 style="position: absolute; top:47%; left: 27%; overflow: visible;"><strong> TRƯỜNG ĐẠI HỌC VĂN LANG</strong></h5>
            <p style="opacity: 0.5; width: 30vw; top:65%; position: absolute;">Tài khoản và mật khẩu của bạn nên được ghi nhớ hoặc lưu lại ở đâu đó sau khi đăng ký thành công!</p>
            
        </div>
        <div class="_center_" style="margin-top: 30vh;">
            <p>Bạn chưa có tài khoản? </p><a href="" style="color: #0085FF; padding-left: 5px;"><strong> Đăng ký ngay</strong></a>
        </div>
    </div>
</div>