<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow full__width" style="position: fixed; top:0px; z-index: 3;">
        <div class="container nav">
            <img [routerLink]="['/']" class="logo-img" src="./assets/Media/vlu-logo.png" />
            <a class="navbar-brand logo__text" [routerLink]="['/']">Trường Đại Học Văn Lang</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
                 [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/']">Trang chủ</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/counter']">Giới thiệu</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/resume']">Tham khảo Resume</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/']">Tạo Resume</a>
                    </li>
                </ul>
                <app-login-menu></app-login-menu>
            </div>
        </div>
    </nav>
</header>
