<form class="background" #form="ngForm" (ngSubmit)="onSubmit(form)">
	<input type="hidden" name="id" [(ngModel)]="service.formData.id">

	<div style="height: 80px; width: 100%; position: relative; "></div>
	<div class="d-flex flex-row parent">
		<div style="width: 100%; height: 100%; position: relative; display: flex;">
			<a [routerLink]="['/resume']" style="margin: 0 40px 0 auto;"><button>❮❮ Quay lại</button></a>
		</div>
		<div id="cv_lcp" class="cv">
			<div class="header">
				<label class="choose-label">
					<div *ngIf="!isImg"
						style="background-color: rgba(196, 196, 196, 0.6); position: relative; top: 48px; left: 50px; width: 8em;height: 10em;">
						<div class="choose-avt">Chọn Ảnh</div>
						<div class="image">
							<input type="file" (change)="uploadImage($event)" accept="Image/*">
						</div>
					</div>
					<img [src]="imgSrc" *ngIf="isImg"
						style="position: relative; top: 48px; left: 50px;width: 8em;height: 10em;">
				</label>
				<div class="profile">
					<input type="text" class="name" name="fullName" placeholder="Họ và tên" #fullName="ngModel"
						[(ngModel)]="service.formData.fullName ">
					<input type="text" class="position" name="position" placeholder="[Vị trí ứng tuyển]"
						[(ngModel)]="service.formData.position ">
					<textarea class="personal" rows="5" placeholder="Nhập personal statement bạn muốn"
						[(ngModel)]="service.formData.personalStatement"></textarea>
				</div>
			</div>
			<div class="body">
				<div class="left">
					<div class="title__component" style="top:30px; bottom: 10px;">
						<p class="title">Thông tin liên hệ</p>
						<div class="title__footer"></div>
					</div>
					<div class="simple__information" style="top: 40px;">
						<div class="information">
							<div class="icon birthday"></div>
							<input type="datetime" name="birthDay" class="birth-day" placeholder="Ngày sinh"
								onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"
								[(ngModel)]="service.formData.birthDay ">
						</div>
						<div class="information">
							<div class="icon mail"></div>
							<input class="mail-style" name="email" placeholder="Email" type="email"
								[(ngModel)]="service.formData.email ">
						</div>
						<div class="information">
							<div class="icon phone"></div>
							<input class="tel-style" name="phoneNumber" placeholder="Số điện thoại" type="text"
								[(ngModel)]="service.formData.phoneNumber ">

						</div>
						<div class="information">
							<div class="icon facebook"></div>
							<input class="facebook-style" name="facebookUrl" placeholder="Link facebook" type="text"
								[(ngModel)]="service.formData.facebookUrl ">

						</div>
						<div class="information">
							<div class="icon location"></div>
							<input class="location-style" name="address" placeholder="Địa chỉ" type="text"
								[(ngModel)]="service.formData.address ">
						</div>
					</div>
					<div class="title__component" style="top: -29px;">
						<p class="title">Các kỹ năng</p>
						<div class="title__footer"></div>
					</div>
					<div class="simple__information">
						<input class="skill-style skill-input" name="skill_1" placeholder="Nhập kĩ năng" type="text"
							[(ngModel)]="service.formData.skill_1 ">
						<textarea class="p__content skill-style skill-text" name="skillDecription_1"
							placeholder="Nhập mô tả kĩ năng"
							[(ngModel)]="service.formData.skillDecription_1"></textarea>
						<input class="skill-style skill-input" placeholder="Nhập kĩ năng" name="skill_2" type="text"
							#skill_2="ngModel" [(ngModel)]="service.formData.skill_2 ">
						<textarea class="p__content skill-style skill-text" name="skillDecription_2"
							placeholder="Nhập mô tả kĩ năng"
							[(ngModel)]="service.formData.skillDecription_2"></textarea>

					</div>
					<div class="title__component" style="top: 4em;">
						<p class="title">Thành tích</p>
						<div class="title__footer"></div>
					</div>
					<div class="simple__information">
						<textarea class="p__content" name="achievement"
							style="width: 180px; top: 7em; position: relative; height: 7em;"
							placeholder="Nhập thành tích" [(ngModel)]="service.formData.achievement"></textarea>

					</div>
				</div>
				<div class="right">
					<div class="title__component" style="top: 30px; left: 10px;">
						<p class="title">Trình độ học vấn</p>
						<div class="title__footer"></div>
					</div>
					<div class="simple__information" style="width:300px; margin-top: 3px;">
						<input name="specialized" style="top: 44px; position: relative;" class="right-input"
							placeholder="Nhập chuyên ngành" type="text" [(ngModel)]="service.formData.specialized">

						<input name="schoolName" style="top: 44px; position: relative;" class="right-input"
							placeholder="Nhập trường đại học" type="text" [(ngModel)]="service.formData.schoolName">
						<input name="gpa" style="top: 44px; position: relative;" class="right-input" step=0.01 max="10"
							min="0" placeholder="Kết quả học tập thang điểm 10" type="number"
							[(ngModel)]="service.formData.gpa">
					</div>
					<div class="title__component" style="top: -55px; left: 10px;">
						<p class="title">Kinh nghiệm làm việc</p>
						<div class="title__footer"></div>
					</div>
					<div class="simple__information" style="width:255px;top:-33px">
						<input name="positioned_1" class="job-input" placeholder="Vị trí làm việc" type="text"
							[(ngModel)]="service.formData.positioned_1">
						<input class="job-input" name="worked_1" placeholder="Nơi làm việc" type="text"
							[(ngModel)]="service.formData.worked_1">
						<textarea class="p__content job-input" name="description_1" placeholder="Mô tả công viêc..."
							[(ngModel)]="service.formData.description_1"></textarea>

					</div>
					<div class="simple__information" style="width:255px;top:-33px">
						<input class="job-input" name="positioned_2" placeholder="Vị trí làm việc" type="text"
							[(ngModel)]="service.formData.positioned_2">
						<input class="job-input" name="worked_2" placeholder="Nơi làm việc" type="text"
							[(ngModel)]="service.formData.worked_2">
						<textarea class="p__content job-input" name="description_2" style="padding-top: 0;" type="text"
							placeholder="Mô tả công viêc..." [(ngModel)]="service.formData.description_2"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; height: 100%; position: relative; display: flex;">
			<button type="submit" style="margin: 0 0 0 40px;">Save</button>
		</div>
	</div>
</form>