<div style="height: 80px; width: 100%; position: relative; "></div>
<div class="d-flex flex-row parent">
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <a [routerLink]="['/resume-template']" style="margin: 0 40px 0 auto;"><button>❮❮ Quay lại</button></a>
        <img src="../../assets/Image/earth.png" alt="" style="position: absolute; margin:120px auto;">
    </div>
    <div id="cv_hlc" class="cv" style="border: none;">
        <div class="body">
            <div class="left" style="width: 57%;">
                <strong class="strong"
                    style="top:10px;left:23px; position: relative; font-size: 16px; line-height: 22px;">Mục tiêu nghề
                    nghiệp</strong>
                <p class="information" style="left: 23px; width: 89%; top:8px; position: relative;">Với mong muốn trở
                    thành một chuyên gia ngôn
                    ngữ ngay từ những năm đầu của đại học, tôi đã
                    cố gắng rất nhiều. Từ việc thay đổi thói quen hằng
                    ngày để phục vụ việc giao tiếp và hấp thụ ngôn
                    ngữ tốt hơn cho đến việc tiếp thu và thực tế hóa
                    các lý thuyết từ các bài giảng ở giảng đường. Với
                    kinh nghiệm thu được ở các vị trí trước đây, tôi tin
                    bản thân có thể hoàn toàn đảm nhận được các vị
                    trí tương tự. </p>
                <strong class="strong"
                    style="top:7px;left:23px; position: relative; font-size: 16px; line-height: 22px;">
                    Học vấn
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:2px; position: relative;">
                    Linguistics
                </p>
                <p class="information" style="left: 23px; width: 89%; top:1px; position: relative;">
                    Foreign Trade University | 08/2009 - 12/2013
                </p>
                <p class="information" style="left: 23px; width: 89%; top:0px; position: relative;">
                    GPA: 3.12/4.00
                </p>
                <strong class="strong"
                    style="top:2px;left:23px; position: relative; font-size: 16px; line-height: 22px;">
                    Kinh nghiệm làm việc
                </strong><br>
                <strong class="strong"
                    style="top:-1px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    ✔️  Talent Acquisition Intern
                </strong><br>
                <strong class="strong"
                    style="top:-4px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    Zalo | 09/2010 - 12/2010
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:-4px; position: relative;">
                    - Tham gia hoạch định chiến lược xây dựng thương hiệu tuyển dụng của công ty
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-4px; position: relative;">
                    - Tạo dựng các mối quan hệ với các ứng viên tiếp cận vào công ty
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-4px; position: relative;">
                    - Đo lường và dự đoán các rủi ro về nhân sự của công ty
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-4px; position: relative;">
                    - Góp phần nâng cao thương hiệu về tuyển dụng bằng cách thiết lập các chiến lượng
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-4px; position: relative;">
                    - Quản lý cơ sở dữ liệu hồ sơ của các ứng viên và phân loại theo từng lĩnh vực từng cấp bậc và các bộ kỹ năng của từng ứng viên
                </p>
                <strong class="strong"
                    style="top:-4px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    ✔️  Brand Manager
                </strong><br>
                <strong class="strong"
                    style="top:-7px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    Agribank | 06/2011 - 04/2010
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:-7px; position: relative;">
                    - Chịu trách nhiệm quản lý đội ngũ marketing của bộ phận
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-7px; position: relative;">
                    - Nắm bắt xu hướng thị trường, khảo sát ý kiến người tiêu dùng và tìm hiểu chiến dịch của đối thủ
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-7px; position: relative;">
                    - Hoạch định chiến lược và xâm nhập thị trường
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-7px; position: relative;">
                    - Lên ý tưởng cho các chiến dịch truyền thông cho thương hiệu
                </p>
                <strong class="strong"
                    style="top:-7px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    ✔️  Speech-language Therapist
                </strong><br>
                <strong class="strong"
                    style="top:-10px;left:23px; position: relative; font-size: 12px; line-height: 16px;">
                    Quoc Thang Clinic | 01/2014 - 12/2021
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Chẩn đoán các bệnh về rối loạn ngôn ngữ cho các thanh thiếu niên thông qua triệu chứng
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Lên kế hoạch điều trị phù hợp và kiểm soát tiến độ phục hồi của bệnh nhân
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Nghiên cứu và tạo ra các phương pháp chữa bệnh mới để phục vụ cho ngành ngôn ngữ trị liệu
                </p>
                <strong class="strong"
                    style="top:-10px;left:23px; position: relative; font-size: 16px; line-height: 22px;">
                    Hoạt động
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Chiến dịch Mùa Hè Xanh năm 2010,2012
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Sinh viên tiêu biểu năm 2010
                </p>
                <strong class="strong"
                    style="top:-10px;left:23px; position: relative; font-size: 16px; line-height: 22px;">
                    Ngôn ngữ
                </strong>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Tiếng Trung
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Tiếng Nhật
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Tiếng Anh
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Tiếng Pháp
                </p>
                <p class="information" style="left: 23px; width: 89%; top:-10px; position: relative;">
                    - Tiếng Hà Lan
                </p>
            </div>
            <div class="right" style="width: 43.5%;background: rgba(117, 166, 37, 0.3); ">
                <div
                    style="background:  rgba(0, 0, 0, 0.7); width:35px; height: 5px; position: relative; top:0px; left:216px;">
                </div>
                <div style="width: 136px; height: 136px; border-radius: 50%; margin: 20px auto;">
                    <img src="../../assets/Image/HLH.png" alt="">
                </div>
                <strong class="strong" style="left: 34px; top: 0px; position: relative;">HOÀNG LINH CHÂU</strong>
                <p class="job" style="left: 29px; top: 0px; position: relative;">Speech-language Pathologist (SLP)</p>
                <strong class="strong"
                    style="left: 34px; top:0px; position: relative; font-size: 16px; line-height: 22px;">Thông
                    tin</strong>
                <div class="simple__information" style="top:0px;left:34px;">
                    <div class="information">
                        <div class="icon mail"></div>
                        <p style="margin-top:1px">hlhoa8x@gmail.com</p>
                    </div>
                    <div class="information">
                        <div class="icon phone"></div>
                        <p style="margin-top:1px">09161845718</p>
                    </div>
                    <div class="information">
                        <div class="icon birthday"></div>
                        <p style="margin-top:1px">17/01/1989</p>
                    </div>
                    <div class="information">
                        <div class="icon location" style="width: 26px;"></div>
                        <p style="margin-top:1px">Tân Phú,TPHCM</p>
                    </div>
                    <div class="information">
                        <div class="icon instagram"></div>
                        <p style="margin-top:1px">instagram.com/hlhoa8x</p>
                    </div>
                </div>
                <strong class="strong"
                    style="left: 34px; top:-46px; position: relative; font-size: 16px; line-height: 22px;">Kỹ
                    năng</strong><br>
                <strong class="information" style="top:-48px;left:34px; position: relative; font-weight: 800;">√ Kỹ năng
                    cứng</strong>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• Microsoft Office
                </p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• TheraPlatform
                </p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• MICA Information
                    Systems</p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• Practice Fusion
                </p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• ClinicNote</p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• Blink Session
                </p>
                <p class="information" style="left: 40px; width: 75%; top:-53px; position: relative;">• TreatWrite</p>
                <strong class="information" style="top:-50px;left:34px; position: relative; font-weight: 800;">√ Kỹ năng
                    mềm</strong>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng lắng
                    nghe</p>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng thấu
                    hiểu</p>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng giao
                    tiếp ngữ điệu</p>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng ngôn ngữ
                </p>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng chẩn
                    đoán</p>
                <p class="information" style="left: 40px; width: 75%; top:-55px; position: relative;">• Kỹ năng phân
                    tích</p>
                <strong class="strong"
                    style="left: 34px; top:-50px; position: relative; font-size: 16px; line-height: 22px;">Sở
                    thích</strong><br>
                <p class="information" style="left: 40px; width: 75%; top:-59px; position: relative;">• Đọc sách</p>
                <p class="information" style="left: 40px; width: 75%; top:-59px; position: relative;">• Giao tiếp</p>
                <p class="information" style="left: 40px; width: 75%; top:-59px; position: relative;">• Leo núi</p>
                <p class="information" style="left: 40px; width: 75%; top:-59px; position: relative;">• Motorbiking</p>

            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <button (click)="name()" style="margin: 0 auto 0 40px;">Export</button>
        <div
            style="position: absolute; width: 100%; height: 300px; margin: 230px 30px; display: flex;flex-direction: row;">
            <p
                style="width: 257px; height: 77px; font-style: normal; font-weight: bold;   font-size: 13px;  line-height: 18px;     text-align: right; color: #000000;">
                Các Resume của sinh viên đã được cho phép công khai lên trang Tham Khảo Resume cho các sinh viên khác
                <br> có thể tiếp cận!
            </p>
            <img src="../../assets/Image/imagestudents.png" alt="" style="width: 101px; height: 101px;">
        </div>
    </div>
</div>