.header-backgroud {
	width: 100%;
	height: 47vh;
	background: url("../../assets/Listpage/Rectangle91.png") no-repeat;
	background-size: cover;
}

._center_ {
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: #0000;
}

.footer-content h2, p, strong, b {
	background-color: #0000;
}

.card-title {
	font-weight: 700;
	font-size: 14px;
}


.card-text {
	font-size: 14px;
}

.more {
	color: #158C8C;
}

._text_max_height {
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 2;
	height: 50px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.btn-more-resume {
	width: 128px;
	height: 48.52px;
	background: linear-gradient(180deg, #C70000 0%, #503A8E 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	color: white;
	border-radius: 4px;
	border: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	margin-left: 1.5em;
	margin-top: 2em;
}

.more-button {
	background-color: #c70000;
	width: 223px;
	height: 72px;
	border-radius: 5px;
	border: 0px;
	color: white;
	font-weight: bold;
}

.header-tilte {
	color: #fff;
	background-color: #0000 !important;
	position: relative;
	top: 4em;
	text-align: center;
}



.cv-template {
	width: 300px;
}

.cv-template img {
	height: 250px;
}

.pagination {
	justify-content: space-around;
}