<div class="row">
	<b class="content _left">Sinh viên có thể tham khảo các Resume dưới đây để điều
		chỉnh
		cho Resume của
		mình trở nên tốt hơn!</b>
</div>
<div class="row d-flex">
	<div class="col-3">
		<div class="row">
			<section class="cv-selection _left">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<div class="square"></div>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex avatar-cv justify-content-center">
						<img src="../../assets/Image/Ellipse 3.png" style="object-fit: cover;
							object-position: center;">
					</div>
				</div>
				<div class="row justify-content-center" style="margin-top:
					30px; font-style: italic;">
					<p>Hà Hoàng Minh</p>
				</div>
				<div class="row" style="margin-top: 5em; box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 27px 0 rgba(0, 0, 0, 0.25);">
					<div class="position-content d-flex" style="justify-content: center;
						margin-left: 15px; padding-top: 6px;">
						Sales Manager
					</div>
				</div>
			</section>
		</div>
		<div class="row justify-content-center">
			<a [routerLink]="['/resume-template-hhm']"
				routerLinkActive="router-link-active">
				<button class="btn-more-resume" style="border: 0;">XEM HỒ SƠ</button>
			</a>
		</div>
	</div>
	<div class="col-6">
		<div class="row justify-content-center">
			<section class="cv-selection _left">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<div class="square"></div>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex avatar-cv justify-content-center">
						<img src="../../assets/Image/Rectangle 50.png" style="object-fit: cover;
							object-position: center;">
					</div>
				</div>
				<div class="row justify-content-center" style="margin-top:
					30px; font-style: italic;">
					<p>Lưu Chính Phương</p>
				</div>
				<div class="row" style="margin-top: 5em; box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 27px 0 rgba(0, 0, 0, 0.25);">
					<div class="position-content d-flex" style="justify-content: center;
						margin-left: 15px; padding-top: 6px;">
						Marketing Executive
					</div>
				</div>
			</section>
		</div>
		<div class="row justify-content-center">
			<a [routerLink]="['/resume-template-lcp']"
				routerLinkActive="router-link-active">
				<button class="btn-more-resume" style="border: 0;">XEM HỒ SƠ</button>
			</a>
		</div>
	</div>
</div>