<div style="height: 80px; width: 100%; position: relative; "></div>
<div class="d-flex flex-row parent">
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <a [routerLink]="['/resume-template']" style="margin: 0 40px 0 auto;"><button>❮❮ Quay lại</button></a>
        <img src="../../assets/Image/earth.png" alt="" style="position: absolute; margin:120px auto;">
    </div>
    <div id="cv_tnn" class="cv">
        <div style="height: 220px; width: 580px; position: relative; border:15px solid #843D3D; border-bottom: 0;">
            <img src="../../assets/Image/TNN.png" alt="" style="position: absolute; left:31px; top:27px;">
            <p style="position: absolute; width: 300px; height: 11px; left: 232px; top: 51px;
                      font-style: normal; font-weight: bold; font-size:22px; line-height: 30px;">
                TỐNG NHẤT
            </p>
            <p style="position: absolute; width: 300px; height: 19px; left: 232px; top: 81px;   
                      font-style: normal; font-weight: bold; font-size: 32px; line-height: 44px;  color: #ADAA5A;">
                NGẠO
            </p>
            <p style="position: absolute; width: 300px; height: 10px; left: 232px; top: 125px; font-style: normal;
                      font-weight: bold; font-size: 22px; line-height: 30px; color: rgba(0, 0, 0, 0.6);">
                PROCESS ENGINEER
            </p>
        </div>
        <div class="body">
            <div class="left">
                <strong class="title">Giới thiệu</strong>
                <p class="p__content" style="margin: 5px 0px;">
                    Tôi là một sinh viên năm ba với niềm đam mê
                    hoài bão và cực kỳ nhiệt huyết trong ngành
                    công nghiệp sản xuất. Nhạy bén với thiết bị,
                    máy móc, học nhanh và có thể áp dụng được
                    vào đời sống là những từ ngữ mà người ta
                    thường miêu tả về tôi.
                </p>
                <strong class="title">Trình độ học vấn</strong>
                <p class="p__content" style="margin-top: 5px;">
                    Mechanics Engineering
                </p>
                <p class="p__content">
                    Industrial University of Ho Chi Minh City | 07/2019 - Hiện tại
                </p>
                <p class="p__content">
                    07/2019 - Hiện tại
                </p>
                <p class="p__content" style="margin-bottom: 5px;">
                    GPA: 3.28/400 (current accumulative)
                </p>
                <strong class="title">Kinh nghiệm làm việc</strong>
                <p class="p__content" style="margin-top: 5px;">
                    💥 Process Engineer Intern
                </p>
                <p class="p__content">
                    Metkraft | 07/2021 - 02/2022
                </p>
                <p class="p__content">
                    - Tham gia nghiên cứu, phát triển thiết bị mới
                    phục vụ dây chuyền sản xuất.
                </p>
                <p class="p__content">
                    - Giám sát quá trình gia công vật liệu từ khâu bắt đầu kết khâu kết thúc phân đoạn.
                </p>
                <p class="p__content">
                    - Trình bày các loại dữ liệu thu được và báo
                    cáo cho đồng nghiệp, quản lý cấp cao.
                </p>
                <p class="p__content">
                    - Lắp đặt các thiết bị mới giúp tăng cao hiệu
                    suất của dây chuyền sản xuất vật liệu.
                </p>
                <p class="p__content" style="margin-bottom: 5px;">
                    - Sử dụng phần mềm để giám sát quá trình gia
                    công vật liệu
                </p>
                <strong class="title">Chứng chỉ</strong>
                <p class="p__content" style="margin-top: 5px;">
                    - Nhật Bản (N4 - 2019)
                </p>
                <p class="p__content">
                    - Tiếng Anh (TOEIC: 550 - 2021)
                </p>
            </div>
            <div class="right">
                <strong class="title">Thông tin</strong>
                <div class="simple__information" >
                    <div class="information">
                        <div class="icon mail"></div>
                        <p style="margin-top:1px">hlhoa8x@gmail.com</p>
                    </div>
                    <div class="information">
                        <div class="icon phone"></div>
                        <p style="margin-top:1px">0917346726</p>
                    </div>
                    <div class="information">
                        <div class="icon birthday"></div>
                        <p style="margin-top:1px">08/04/2001</p>
                    </div>
                    <div class="information">
                        <div class="icon location" style="width: 26px;"></div>
                        <p style="margin-top:1px">Quận 1, TPHCM</p>
                    </div>
                    <div class="information">
                        <div class="icon facebook" style="margin-left: 3px;"></div>
                        <p style="margin-top:1px">facebook.com/tng2k1ak</p>
                    </div>
                </div>
                <strong class="title">Các kỹ năng</strong>
                <p class="p__content">
                    • Kỹ năng phân tích thiết kế
                </p>
                <p class="p__content">
                    • Kỹ năng lãnh đạo
                </p>
                <p class="p__content">
                    • Kỹ năng mô hình hóa
                </p>
                <p class="p__content">
                    • Kỹ năng giám sát
                </p>
                <p class="p__content">
                    • Kỹ năng giao tiếp
                </p>
                <p class="p__content">
                    • Kỹ năng hội họa
                </p>
                <p class="p__content">
                    • Kỹ năng lắp đặt thiết bị
                </p>
                <p class="p__content">
                    • Kỹ năng sử dụng phần mềm mô phỏng
                </p>
                <p class="p__content">
                    • Kỹ năng không gian
                </p>
                <p class="p__content">
                    • Kỹ năng sử dụng máy tính
                </p>
                <p class="p__content">
                    • Kỹ năng sáng tạo
                </p>
                <p class="p__content" style="margin-bottom: 5px;">
                    • Kỹ năng đàm phám
                </p>
                <strong class="title">Thành tích</strong>
                <p class="p__content">
                    • Sinh viên năm tốt của học kỳ thứ tư
                </p>
                <p class="p__content">
                    • Giải nhất cuộc thi chạy việt dã
                </p>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100%; position: relative; display: flex;">
        <button (click)="name()" style="margin: 0 auto 0 40px;">Export</button>
        <div
            style="position: absolute; width: 100%; height: 300px; margin: 230px 30px; display: flex;flex-direction: row;">
            <p
                style="width: 257px; height: 77px; font-style: normal; font-weight: bold;   font-size: 13px;  line-height: 18px;     text-align: right; color: #000000;">
                Các Resume của sinh viên đã được cho phép công khai lên trang Tham Khảo Resume cho các sinh viên khác
                <br> có thể tiếp cận!
            </p>
            <img src="../../assets/Image/imagestudents.png" alt="" style="width: 101px; height: 101px;">
        </div>
    </div>
</div>