<div class="d-flex justify-content-center" style="margin-top: 5em;">
	<div class="row">
		<div class="col">
			<div id="cv" class="cv">
				<div
					style="height: 220px; width: 580px; position: relative; border:15px solid #843D3D; border-bottom: 0;">
					<img [src]="cvdata.imageSrc" alt=""
						style="position: absolute; left:31px; top:27px;width: 150px;max-height: 200px;">
					<p style="position: absolute; width: 300px; height: 11px; left: 232px; top: 51px;
                      font-style: normal; font-weight: bold; font-size:22px; line-height: 30px;">
						{{cvdata.fullName}}
					</p>
					<p style="position: absolute; width: 300px; height: 10px; left: 232px; top: 125px; font-style: normal;
                      font-weight: bold; font-size: 22px; line-height: 30px; color: rgba(0, 0, 0, 0.6);">
						{{cvdata.position}}
					</p>
				</div>
				<div class="body">
					<div class="left" style="margin-top: 1em;">
						<strong class="title">Giới thiệu</strong>
						<p class="p__content" style="margin: 5px 0px;">
							{{cvdata.personalStatement}}
						</p>
						<strong class="title">Trình độ học vấn</strong>
						<p class="p__content" style="margin-top: 5px;">
							Chuyên ngành: <strong>{{cvdata.specialized}}</strong>
						</p>
						<p class="p__content">
							Trường ĐH: {{cvdata.schoolName}}
						</p>

						<p class="p__content" style="margin-bottom: 5px;">
							GPA: {{cvdata.gpa}}
						</p>
						<strong class="title">Kinh nghiệm làm việc</strong>
						<p class="p__content" style="margin-top: 5px;">
							Vị trí: {{cvdata.positioned_1}}
						</p>
						<p class="p__content">
							Nơi làm việc: {{cvdata.worked_1}}
						</p>
						<p class="p__content">
							Mô tả: {{cvdata.description_1}}
						</p>
						<p class="p__content" style="margin-top: 5px;">
							Vị trí: {{cvdata.positioned_2}}
						</p>
						<p class="p__content">
							Nơi làm việc: {{cvdata.worked_2}}
						</p>
						<p class="p__content">
							Mô tả: {{cvdata.description_2}}
						</p>

					</div>
					<div class="right">
						<strong class="title">Thông tin</strong>
						<div class="simple__information">
							<div class="information">
								<div class="icon mail"></div>
								<p style="margin-top:1px;line-break: anywhere;">{{cvdata.email}}</p>
							</div>
							<div class="information">
								<div class="icon phone"></div>
								<p style="margin-top:1px">{{cvdata.phoneNumber}}</p>
							</div>
							<div class="information">
								<div class="icon birthday"></div>
								<p style="margin-top:1px">{{birthDate}}</p>
							</div>
							<div class="information">
								<div class="icon location" style="width: 26px;"></div>
								<p style="margin-top:1px;line-break: anywhere;">{{cvdata.address}}</p>
							</div>
							<div class="information">
								<div class="icon facebook" style="margin-left: 3px;"></div>
								<p style="margin-top:1px;line-break: anywhere;">{{cvdata.facebookUrl}}</p>
							</div>
						</div>
						<strong class="title">Các kỹ năng</strong>
						<p class="p__content">
							- {{cvdata.skill_1}}
						</p>
						<p class="p__content">
							Mô tả: {{cvdata.skillDecription_1}}
						</p>
						<p class="p__content">
							- {{cvdata.skill_2}}
						</p>
						<p class="p__content" style="margin-bottom: 5px;">
							Mô tả: {{cvdata.skillDecription_2}}
						</p>
						<strong class="title">Thành tích</strong>
						<p class="p__content">
							{{cvdata.achievement}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col" style="margin-left: 10em;">
			<div class="row mt-5">
				<button (click)="edit()">Edit</button>
			</div>
			<div class="row mt-5">
				<button (click)="download()">Export</button>
			</div>
			<div class="row mt-5">
				<button (click)="deletecv()">Delete</button>
			</div>
		</div>
	</div>
</div>