<div class="header-background">
	<img src="../../assets/Listpage/resume-event.jpg" />
</div>
<div class="row d-flex">
	<div class="col-2" style="margin-top: 8em;margin-left: 5em;">
		<div class="cv-template">
			<img src="../../assets/Listpage/cv-template.png">
			<button [routerLink]="['/resume-template']" class="btn-more-resume" style="border: 0;">XEM HỒ SƠ</button>
		</div>
	</div>
	<div class="col-8" style="margin-top: 8em;margin-left: 5em; margin-bottom: 5em;">
		<strong style="font-size: 30px;">
			Các yếu tố giúp Resume của bạn trở nên ấn tượng hơn trong
			mắt nhà tuyển dụng
		</strong>
		<div class="d-flex">
			<img style="width: 24px;height: 25px;" src="../../assets/Listpage/calendar.png" width="20px" />
			<p>12/12/2019</p>
		</div>
		<ul>
			<li><strong>
					1. RESUME LÀ GÌ?
				</strong>
				<ul>
					<li>Resume là bản tóm tắt về thông tin cá nhân, mục tiêu nghề nghiệp cũng như các kỹ năng bản thân
						để thu hút
						nhà tuyển dụng.
						Nguồn bài viết: <a style="color: black;"
							href="https://jobsgo.vn/blog/cv-la-gi-lam-cach-nao-de-viet-cv-thu-hut-nha-tuyen-dung/#CV_la_gi"
							target="_blank" rel="noopener noreferrer">Tại đây</a>
					</li>
					<li style="text-align: center;"><img src="../../assets/contact/email.jpg" alt="" width="550px">
						<p>
							Hình 1: Resume là gì?
						</p>
					</li>
				</ul>
			</li>
			<li>
				<strong>2. TẦM QUAN TRỌNG CỦA RESUME </strong>
				<ul>
					<li>
						<p>
							Hãy hình dung nhà tuyển dụng là khách hàng, còn bạn là người bán hàng, và Resume chính là
							sản
							phẩm mà
							bạn đang cần marketing. Một Resume tốt là Resume đưa ra được đặc tính sản phẩm - kỹ năng,
							chuyên
							môn
							cũng như lợi ích mà họ sẽ nhận được khi chiêu mộ được bạn.
						</p>
						<p>
							Khi bạn ứng tuyển vào một vị trí nào đó của một công ty, không phải chỉ có mình bạn mà còn
							có
							rất nhiều đối
							thủ khác cũng muốn có được vị trí đó, vì vậy việc tạo ra một Resume để lại ấn tượng với nhà
							tuyển dụng là một
							việc rất quan trọng và có thể tăng khả năng thành công lên rất cao.
						</p>
						<p>
							Việc trình bày Resume cũng bộc lộ rằng liệu bạn có phải là một con người cẩn thận, tỉ mỉ và
							thực
							sự quan tâm
							đến công việc và công ty mà bạn đang ứng tuyển hay không. Do đó, hãy dành thời gian của bản
							thân
							để tinh
							chỉnh lại hồ sơ xin việc gây hứng thú cao cho nhà tuyển dụng thay vì sử dụng những phiên bản
							Resume có sẵn
							và ở khắp nơi trên mạng.
						</p>
					</li>
				</ul>
			</li>
			<li><strong>3. CÁC CÁCH GIÚP CHO RESUME THU HÚT NHÀ TUYỂN DỤNG</strong>
				<ul>
					<li>Một Resume chất lượng thông thường sẽ bao gồm:
						<ul>
							<li>- Thông tin cá nhân</li>
							<li>- Mục tiêu nghề nghiệp</li>
							<li>- Các kỹ năng</li>
							<li>- Chứng chỉ </li>
							<li>- Trình độ học vấn</li>
							<li>- Kinh nghiệm làm việc</li>
							<li>- Các mục khác (nếu có)</li>
						</ul>
					</li>
					<li>Và làm thế nào để có thể để lại ấn tượng sâu sắc trong mắt nhà tuyển dụng chỉ với 30 giây đọc
						Resume của bạn
						thực sự là một câu hỏi tương đối hóc búa!</li>
				</ul>
			</li>
			<li><strong>a. Thông tin cá nhân</strong>
				<ul>
					<li>Thông tin cá nhân bao gồm các trường sau:
						<ul>
							<li>- Ngày tháng năm sinh</li>
							<li>- Số điện thoại</li>
							<li>- Email</li>
							<li>- Địa chỉ</li>
							<li>- Các trang mạng xã hội khác (nếu có)</li>
							<li>- Các trang tài liệu khác của bản thân (nếu có)</li>
						</ul>
					</li>
					<li>Việc cung cấp thông tin liên lạc rõ ràng có thể giúp cho nhà tuyển dụng dễ dàng liên hệ đến bạn
						khi bạn trúng
						tuyển vào vị trí công việc mong muốn. </li>
					<li style="text-align: center;">
						<img src="../../assets/Listpage/cvgroup.png" alt="">
						<p>Hình 2: Resume thu hút nhà tuyển dụng</p>
					</li>
				</ul>
			</li>
			<li><strong>
					b. Mục tiêu nghề nghiệp
				</strong>
				<ul>
					<li> Mục tiêu nghề nghiệp chính là kim chỉ nam để định hướng bản thân trong hiện tại và tương lai.
						Các nhà
						tuyển
						dụng sẽ căn cứ vào phần này để hiểu được rằng ứng viên có thật sự am hiểu về ngành nghề mà họ
						đang ứng
						tuyển hay không. Mục tiêu nghề nghiệp có thể được chia làm hai loại: Mục tiêu ngắn hạn, mục tiêu
						dài
						hạn.
						<ul>
							<li>- Mục tiêu ngắn hạn: thể hiện ra những kiến thức mà bạn đang muốn được học hỏi, trau dồi
								thêm những kỹ
								năng mà bản thân tự nhận thấy mình còn nhiều thiếu sót.
								Mục tiêu dài hạn: thể hiện ra những giá trị mà bạn muốn đem lại cho công ty/ doanh
								nghiệp, những sự
								thăng</li>
							<li>- tiến trong công việc cũng như sự trưởng thành của bản thân thông qua từng cột mốc.
								Thay
								vì viêt chung
								chung các mục tiêu, bạn nên viết mục tiêu cho chức vụ mà bạn đang muốn ứng tuyển, tạo
								điều kiện cho nhà
								tuyển dụng biết được rằng bạn có thực sự phù hợp với công việc hay không và cả ý chí cầu
								tiến.</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><strong> c. Kỹ năng, chứng chỉ</strong></li>
		</ul>
	</div>
</div>
<div class="d-flex footer-content">
	<div style="position: relative;height:832px; width:100%; background:
		linear-gradient(180deg, #70DA6E 0%, rgba(212, 245, 6, 0.2) 100%);">
		<h2 class="_center_" style="overflow: visible; position: relative; top:120px"><strong
				style="overflow: visible;">
				Cơ Hội Du Học Cho Sinh Viên Văn Lang
			</strong></h2>
		<div style="position: relative; display: flex; flex-direction: row; width:
			100%; height: 450px; top:160px;background: #0000;">
			<div style="position: relative; width: 33.3%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/hn.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px;
						border-radius: 20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Đại học Văn Lang và Liverpool John Moores liên kết đào tạo ngành cử nhân
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
			<div style="position: relative; width: 33.4%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/lt.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px; border-radius:
						20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Chương trình Hợp Nhất Cử nhân - Thạc sĩ Viện Công nghệ Châu Á (AIT) cho...
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
			<div style="position: relative; width: 33.3%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/cn.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px;
						border-radius: 20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Chương trình liên kết 2+2 với Đại học Victoria (Úc) ngành QUẢN TRỊ KINH...
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>