.button{
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    border: 0px;
    padding-top: 3px;
    padding-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
a{
    font-size: 12px;
}
.reg{
    padding-top: 11px;
}
.reg:hover{
    color: yellow;
}