*{
    margin:0px;
    padding:0px;
}

.full-width{
    width: 100%;;
}

.half-width{
    width: 50%;
}

.focus-rectangle{
    width: 70%;
    height: 321px;
    border-radius: 10px;
    background-color: rgb(109,157,201);
    margin: auto;
    margin-top: 73px;
    margin-bottom: 73px;
}

.focus-word{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    letter-spacing: 0.07em;

    color: #000000;

}

.focus-button{
    width:163px;
    height:48px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.demo-cv-background{
    width:100%;
    height: 403px;
    background-color: rgb(109,157,201);
}
.demo-cv-thumb{
    width: 326px;
    height: 210px;
    margin: auto;
    background-color: rgb(109,157,201);
    margin-top: 88px;
    display: flex;
}
.demo-cv-image{
    max-width: 326px;
    max-height: 210px;
    margin: auto;
    
}