@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.carousel-img {
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.focus-rectangle {
  width: 70%;
  height: 321px;
  border-radius: 10px;
  background-color: #6d9dc9;
  margin: auto;
  margin-top: 73px;
  margin-bottom: 73px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.focus-word {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #000000;
}

.focus-button {
  width: 163px;
  height: 48px;
  background-color: #c70000;
  border-radius: 10px;
  color: white;
}

.focus-button:hover {
  background-color: #fe4848;
}

.demo-cv-background {
  width: 100%;
  height: 403px;
  background-color: rgb(109, 157, 201);
}

.demo-cv-thumb {
  width: 326px;
  height: 210px;
  margin: auto;
  background-color: rgb(109, 157, 201);
  margin-top: 88px;
  display: flex;
}

.demo-cv-image {
  max-width: 326px;
  max-height: 210px;
  margin: auto;
}
iframe {
  margin: auto;
  display: flex;
  margin-top: 50px;
}
.review-image {
  max-width: 323px;
  max-height: 246px;
  margin: auto;
  display: flex;
}
.logo-image {
  max-width: 200px;
  max-height: 150px;
  margin: auto;
  display: flex;
}
.content-image {
  max-width: 1000px;
  max-height: 500px;
  margin: auto;
  display: flex;
}
.more-button {
  background-color: #c70000;
  width: 223px;
  height: 72px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-weight: bold;
}
._center_ {
  margin: auto;
  display: flex;
  justify-content: center;
}

.focus-rectangle-title {
  width: 300px;
  height: 190px;
  border-radius: 30px;
  background-color: rgb(235, 211, 211);
  margin: auto;
}
p {
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.fab__button {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 100%;

  bottom: 20px;
  right: 30px;
}
.create_resume_button {
  position: fixed;
  width: 45px;
  height: 48px;
  border-radius: 0% 22px 22px 0%;
  z-index: 3;
  top: 160px;
  left: 0px;
  background: linear-gradient(
    270deg,
    rgba(234, 57, 100, 0.78) 6.67%,
    rgba(136, 126, 126, 0.78) 100%
  );
  border: 0px;
}
._resume_demo_background {
  background-color: #ededed;
  height: 768px;
  width: 100%;
  position: relative;
}
._resume_card_background {
  background-color: #C63636;
  height: 75%;
  width: 18.4%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 27px 0 rgba(0, 0, 0, 0.25);
}
._resume_nickname {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
._resume_job_background {
  background-color: #adaa5a;
  height: 37px;
  width: 100%;
  margin-top: 20%;
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 27px 0 rgba(0, 0, 0, 0.25);
}
._thumbnail_circle_ {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}
._resume_button {
  height: 49px;
  width: 100%;
  background-color: #c70000;
  color: white;
  border-radius: 4px;
  border: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}
._hidden {
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
._pacifico_font {
  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 70px;
  text-align: center;
  margin-left: 40px;
  align-items: center;
  margin-top: 10px;
}
._text_max_height {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@keyframes rotate180deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate0deg {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes visibleFrame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hiddenFrame {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes toGray {
  from {
    background-color: #ededed;
  }
  to {
    background-color: white;
  }
}
@keyframes toWhite {
  from {
    background-color: white;
  }
  to {
    background-color: #ededed;
  }
}
