<ngb-carousel *ngIf="images" class="carousel-img">
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[0]" alt="Hình ảnh Đại học Văn Lang">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[1]" alt="Random second slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[2]" alt="Random third slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <iframe width="840"
                    height="470"
                    src="https://www.youtube.com/embed/nyuOKCNsgVg"
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </ng-template>
</ngb-carousel>

<div class="d-flex flex-row">
    <div class="half-width">
        <div class="focus-rectangle">
            <p class="focus-word" style="margin: 40px;">
                <br><br>
                Đồ án khóa luận tạo website tạo sơ yếu lí lịch (Resume)
            </p>
            <button class="focus-button" style="margin: 35px; margin-left: 34px;">
                <strong>Bắt đầu</strong>
            </button>
        </div>
    </div>
    <div class="half-width">
        <div class="focus-rectangle">
            <div style="margin: 40px;">
                <p class="focus-word">
                    <br><br>
                    Công nghệ được sử dụng:
                </p>
                <ul style="margin-left: 30px;">
                    <li><p class="focus-word">Front-end: AngularJS (Material Design for Bootstrap)</p></li>
                    <li><p class="focus-word">Backend: ASP.NET (Entity framwork, Idenity,...)</p></li>
                    <li><p class="focus-word">Database: Microsoft Sql Server</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="demo-cv-background">
    <div class="row">
        <div class="col">
            <div class="demo-cv-thumb">
                <img [src]="imageCVsource" alt="Hình ảnh CV" class="demo-cv-image">
            </div>
        </div>
        <div class="col">
            <div class="demo-cv-thumb">
                <img [src]="imageCVsource" alt="Hình ảnh CV" class="demo-cv-image">
            </div>
        </div>
        <div class="col">
            <div class="demo-cv-thumb">
                <img [src]="imageCVsource" alt="Hình ảnh CV" class="demo-cv-image">
            </div>
        </div>
    </div>
</div>


