<img class="header" src="../../assets/Listpage/firter.png">
<div class="row d-flex">
	<div class="col-2" style="margin-top: 8em;margin-left: 5em;">
		<div class="cv-template">
			<img src="../../assets/Listpage/cv-template.png">
			<button [routerLink]="['/resume-template']" class="btn-more-resume" style="border: 0;">XEM HỒ SƠ</button>
		</div>
	</div>
	<div class="col-8" style="margin-top: 8em;margin-left: 5em;">
		<strong style="font-size: 30px;">
			Thông tin cuộc thi Chinh phục CV, có ngay công việc - Career
			Catching
		</strong>
		<div class="d-flex">
			<img style="width: 24px;height: 25px;" src="../../assets/Listpage/calendar.png" width="20px" />
			<p>12/12/2019</p>
		</div>
		<ul>
			<li><strong>1. THÔNG TIN CUỘC THI</strong>
				<ul>
					<li><strong>Vòng 1: </strong>Vòng loại: 02/04 - 09/04/2022: Thí sinh nộp CV dự thi về ban tổ chức
						qua
						cổng Elearning tại link.</li>
					<li><strong>Vòng 2: </strong>Top 05 thí sinh có kết quả cao nhất sẽ được
						<ul>
							<li>
								- Đặt hẹn tư vấn hướng nghiệp cá nhân với các anh chị chuyên viên trong lĩnh vực ngành
								nghề phù
								hợp với đặc điểm riêng của bạn. Các chuyên viên sẽ giúp bạn khám phá ngành nghề và lập
								kế hoạch
								phát triển cụ thể.</li>
							<li>
								- Lên xe và ghé thăm môi trường làm việc của tập đoàn thương mại hàng đầu AEON MAL
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><strong>
					2.THỂ LỆ THAM DỰ CUỘC THI
				</strong>
				<ul>
					<li>- Viết CV cho một vị trí cụ thể mà mình mong muốn</li>
					<li>- Sau đó nộp bài thi, kèm theo bản mô tả công việc của vị trí đó, về cổng <strong>
							Elearning Chuẩn bị kỹ
							năng
							ứng tuyển, mục nộp bài Cuộc thi Chinh phục CV.</strong></li>
					<li>👉 Link đăng ký dự thi: <a style="color: #000;" target="_blank"
							href="https://forms.gle/XCbprKNAEfbFRuSE"><strong>Tại đây
							</strong> </a></li>
					<li>Sau khi đăng ký, bạn sẽ được BTC thêm vào khóa Chuẩn bị kỹ năng ứng tuyển trên Elearning và có
						thể tự
						học cách viết CV và tiến hành đăng tải CV tại khóa học, mục nộp bài Cuộc thi Chinh phục CV.</li>
					<li><strong> Bài dự thi hợp lệ phải bao gồm:</strong>
						<ul>
							<li>- CV cá nhân</li>
							<li>- Mô tả công việc (Job Description) của vị trí bạn định ứng tuyển</li>
							<li>- CV được viết bằng tiếng Anh sẽ được cộng thêm 0.5 điểm ưu tiên</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><strong>3. THỜI GIAN ĐĂNG KÝ</strong>
				<ul>
					<li>- Thời gian nhận bài: 27/3/2022 - 9/4/2022</li>
					<li>- Hạn chót nộp bài: 23h59' ngày 9/4/2022</li>
				</ul>
			</li>
			<li><strong>4. CÔNG BỐ VÀ TRAO GIẢI</strong>
				<ul>
					<li>- Các CV của thí sinh sẽ được thông báo điểm vào tuần 3 của tháng 4/2022.</li>
					<li>- 05 thí sinh có CV ấn tượng nhất sẽ được chọn vào Vòng 2 của chuỗi hoạt động Career Catching.
						Đó là cơ
						hội thăm quan doanh nghiệp và tư vấn hướng nghiệp chuyên sâu cùng anh chị chuyên viên đến từ
						doanh
						nghiệp.</li>
					<li>- Đồng thời các bạn sẽ được trao giải vào lễ bế mạc của Tháng hướng nghiệp và Ngày hội việc làm
						VLU's Job Fair 2022: Upskilling for Success</li>
					<li>- Cơ cấu giải thưởng bao gồm các học bổng, quà tặng có tổng giá trị lên đến 20 triệu đồng.</li>
					<li><strong>👉 Đăng ký ngay tại: <a href="https://forms.gle/XCbprKNAEfbFRuSEA" target="_blank"
								rel="noopener noreferrer" style="color: #000;">Tại đây</a>
						</strong></li>
				</ul>
			</li>
			<li>
				<ul><strong>THÔNG TIN VỀ 5 CUỘC THI THUỘC THÁNG HƯỚNG NGHIỆP VÀ NGÀY HỘI VIỆC LÀM VLU'S JOB FAIR
						2022</strong>
					<li>Nếu bạn muốn nhận giấy chứng nhận cho kỹ năng làm việc và khẳng định vị thế với nhà tuyển dụng
						thì cuộc
						thi này sẽ giúp bạn!</li>
					<li><strong>🔸 Vòng 1: </strong>Chuỗi 05 cuộc thi kỹ năng làm việc
					</li>
					<li>SV tham dự ít nhất 1 trong 5 cuộc thi sẽ có cơ hội trải nghiệm chuyến thăm quan tập đoàn thương
						mại bán
						lẻ hàng đầu thế giới và khám phá lĩnh vực ngành nghề chuyên sâu cùng với chuyên gia tư vấn 1:1.
					</li>
					<li><strong>Thời gian thi: </strong>9h00-10h00 Chủ nhật hàng tuần của tháng 4/2022
						<ul>
							<li>
								Cuộc thi 1 - Top Office (3/4)
							</li>
							<li> Cuộc thi 2 - Top English (10/4)
							</li>
							<li> Cuộc thi 3 - Top Excel (17/4)
							</li>
							<li> Cuộc thi 4 - Top Logic (24/4)
							</li>
							<li>Cuộc thi 5 - Chinh phục CV, có ngay công việc (hạn nộp vào 09/04/2022)</li>
						</ul>
					</li>
					<li><strong>🔸 Vòng 2: </strong>Chuyến thăm quan tập đoàn AOEN MALL và ngày hội tư vấn hướng nghiệp
						cá nhân</li>
					<li>TOP THÍ SINH CÓ KẾT QUẢ CAO Ở 1 TRONG 5 CUỘC THI VÒNG 1 SẼ NHẬN ĐƯỢC:
						<ul>
							<li>Đặt hẹn tư vấn hướng nghiệp cá nhân với các anh chị chuyên viên trong lĩnh vực ngành
								nghề phù hợp
								với đặc điểm riêng của bạn. Các chuyên viên sẽ giúp bạn khám phá ngành nghề và lập kế
								hoạch phát
								triển cụ thể.
							</li>
							<li>Lên xe và ghé thăm môi trường làm việc của tập đoàn thương mại hàng đầu AEON MALL</li>
						</ul>
						<ul> <strong>◆ Mọi thông tin chi tiết vui lòng liên hệ:</strong>
							<li>Bộ phận Quan hệ Doanh nghiệp, Trung tâm Phát triển Năng lực Sinh viên
							</li>
							<li>Facebook: <a style="color: blue;" href="https://www.facebook.com/TTPTNLSV"
									target="_blank" rel="noopener noreferrer">https://www.facebook.com/TTPTNLSV</a></li>
							<li>Email: qhdn@vlu.edu.vn</li>
							<li>SĐT: 028 7109 9224</li>
						</ul>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
<div class="d-flex footer-content">
	<div style="position: relative;height:832px; width:100%; background:
		linear-gradient(180deg, #70DA6E 0%, rgba(212, 245, 6, 0.2) 100%);">
		<h2 class="_center_" style="overflow: visible; position: relative; top:120px"><strong
				style="overflow: visible;">
				Cơ Hội Du Học Cho Sinh Viên Văn Lang
			</strong></h2>
		<div style="position: relative; display: flex; flex-direction: row; width:
			100%; height: 450px; top:160px;background: #0000;">
			<div style="position: relative; width: 33.3%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/hn.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px;
						border-radius: 20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Đại học Văn Lang và Liverpool John Moores liên kết đào tạo ngành cử nhân
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
			<div style="position: relative; width: 33.4%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/lt.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px; border-radius:
						20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Chương trình Hợp Nhất Cử nhân - Thạc sĩ Viện Công nghệ Châu Á (AIT) cho...
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
			<div style="position: relative; width: 33.3%;background-color: #0000;">
				<div class="_center_" style="position: relative; background: #FFF; border-radius: 20px; height:
					100%; width: 80%;">
					<img src="../../assets/Image/cn.png" alt="" style="max-width:90%; max-height:195px; margin-top: 25px;
						border-radius: 20px;">
					<p style="position: absolute; top: 230px; left: 20px; font-size: 12px;">22-02-2021</p>
					<strong class="_text_max_height" style="position: absolute; top:255px;">
						Chương trình liên kết 2+2 với Đại học Victoria (Úc) ngành QUẢN TRỊ KINH...
					</strong>
					<div style="position: absolute;top:325px;">
						<a href="">
							<button class="more-button">Xem Thêm</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>