<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom
		box-shadow full__width justify-content-end" style="position: fixed;
		top:0px; z-index: 7;">
		<div class="container nav">
			<img [routerLink]="['/']" class="logo-img" src="./assets/Media/vlu-logo.png" />
			<a class="navbar-brand logo__text" [routerLink]="['/']">
				Trường Đại Học Văn
				Lang
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
				aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
				<ul class="navbar-nav flex-grow">
					<li class="nav-item" [routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }">
						<a class="nav-link" [routerLink]="['/']">Trang chủ</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link" [routerLink]="['/about']">Giới thiệu</a>
					</li>
					<li class="nav-item link" [routerLinkActive]="['link-active']"
						style="position: relative; overflow: visible;">
						<a class="nav-link">Resume ▼</a>
						<div class="drop-down resume_width">
							<a [routerLink]="['/resume']" style="margin: 1px 15px;">Tạo Resume</a>
							<a [routerLink]="['/resume-template']" style="margin: 1px 15px;">Cộng đồng Resume</a>
							<a href="#" style="margin: 1px 15px;">Resume của tôi</a>
						</div>
					</li>
					<li class="nav-item link" [routerLinkActive]="['link-active']"
						style="position: relative; overflow: visible;">
						<a class="nav-link">Cover Letter ▼</a>
						<div class="drop-down cover_width">
							<a href="#" style="margin: 1px 15px;">Tạo Cover Letter</a>
							<a [routerLink]="['/resume']" style="margin: 1px 15px;">Tham khảo Cover
								Letter</a>
							<a href="#" style="margin: 1px 15px;">Cover Letter của tôi</a>
						</div>
					</li>
					<li class="nav-item link" *ngIf="!user">
						<button (click)="signInWithGoogle()" class="btn-login">
							Đăng Nhập
						</button>
					</li>
					<li class="nav-item link" *ngIf="user" style="position: relative;top: 8px;">
						<span class="user-text">
							{{ user.firstName }}
						</span>
						<svg (click)="signOut()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
							<path fill-rule="evenodd"
								d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
						</svg>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>